<a href="https://colab.research.google.com/github/KdrDrn-C8301Sam/01-DAwPy-NumPy/blob/main/01_01_Preparing_The_Data_For_Analysis(Student_C8301_Sam).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style='text-align: center;'>Traffic Police Stops<br>Part - 1</p><h1> - Preparing The Data For Analysis <img src='https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki' class='img-fluid' alt='CLRSWY' width='200' height='100'>

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

**INSTRUCTIONS**

*   Import related libraries with their alias.
*   Read the file RI_cleaned.csv into a DataFrame named ``ri``
*   Examine the first 5 rows of the ``DataFrame`` (known as the ``"head"``).
*   Examine the last 5 rows of the ``DataFrame`` (known as the ``"tail"``).
*   Examine the ``DataFrame``'s ``"columns"``.
*   Count the number of missing values in each column: Use ``.isnull()`` to check which ``DataFrame`` elements are missing, and then take the ``.sum()`` to count the number of ``True`` values in each column.

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [38]:
pd.set_option('display.max_columns', None) # to see all columns

In [39]:
ri = pd.read_csv("RI_cleaned.csv")

C:\Users\hbpbn\AppData\Local\Temp\ipykernel_11016\3903740968.py:1: DtypeWarning: Columns (8,16) have mixed types. Specify dtype option on import or set low_memory=False.
  ri = pd.read_csv("RI_cleaned.csv")

In [40]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [41]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509681 entries, 0 to 509680
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     509681 non-null  object
 1   state                  509681 non-null  object
 2   stop_date              509671 non-null  object
 3   stop_time              509671 non-null  object
 4   location_raw           509681 non-null  object
 5   county_name            0 non-null       float64
 6   county_fips            0 non-null       float64
 7   fine_grained_location  0 non-null       float64
 8   police_department      509671 non-null  object
 9   driver_gender          480584 non-null  object
 10  driver_age_raw         480632 non-null  float64
 11  driver_age             478986 non-null  float64
 12  driver_race_raw        480608 non-null  object
 13  driver_race            480608 non-null  object
 14  violation_raw          480608 non-null  object
 15  violation              480608 non-null  object
 16  search_conducted       509671 non-null  object
 17  search_type_raw        17762 non-null   object
 18  search_type            17762 non-null   object
 19  contraband_found       509681 non-null  bool
 20  stop_outcome           480608 non-null  object
 21  is_arrested            480608 non-null  object
 22  stop_duration          480608 non-null  object
 23  out_of_state           479800 non-null  object
 24  drugs_related_stop     509681 non-null  bool
 25  district               509681 non-null  object
dtypes: bool(2), float64(5), object(19)
memory usage: 94.3+ MB

In [42]:
ri.describe().T

,count,mean,std,min,25%,50%,75%,max
county_name,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
county_fips,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fine_grained_location,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
driver_age_raw,480632.0,1970.509997,108.187159,0.0,1967.0,1980.0,1987.0,8801.0
driver_age,478986.0,33.982027,12.702864,15.0,23.0,31.0,43.0,99.0

In [43]:
ri.describe(include="O").T

                    count  unique                 top    freq
id                 509681  509681       RI-2005-00001       1
state              509681       1                  RI  509681
stop_date          509671    3809          2006-05-21     302
stop_time          509671    1440               10:00    1763
location_raw       509681       7             Zone X4  135349
police_department  509671      73                 500  113927
driver_gender      480584       2                   M  349446
driver_race_raw    480608       7                   W  344734
driver_race        480608       5               White  344734
violation_raw      480608      12            Speeding  268744
violation          480608       6            Speeding  268744
search_conducted   509671       2               False  491909
search_type_raw     17762      60  Incident to Arrest    6998
search_type         17762      25  Incident to Arrest    6998
stop_outcome       480608       6            Citation  428388
is_arrested        480608       2               False  464005
stop_duration      480608       5            0-15 Min  386665
out_of_state       479800       2               False  321276
district           509681       7             Zone X4  135349

**Since the dataset has 509681 rows, you can work with the first 50000 rows if you wish.**

In [44]:
ri = ri[:50000]

In [45]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     50000 non-null  object
 1   state                  50000 non-null  object
 2   stop_date              50000 non-null  object
 3   stop_time              50000 non-null  object
 4   location_raw           50000 non-null  object
 5   county_name            0 non-null      float64
 6   county_fips            0 non-null      float64
 7   fine_grained_location  0 non-null      float64
 8   police_department      50000 non-null  object
 9   driver_gender          48010 non-null  object
 10  driver_age_raw         48029 non-null  float64
 11  driver_age             47792 non-null  float64
 12  driver_race_raw        48012 non-null  object
 13  driver_race            48012 non-null  object
 14  violation_raw          48012 non-null  object
 15  violation              48012 non-null  object
 16  search_conducted       50000 non-null  object
 17  search_type_raw        2012 non-null   object
 18  search_type            2012 non-null   object
 19  contraband_found       50000 non-null  bool
 20  stop_outcome           48012 non-null  object
 21  is_arrested            48012 non-null  object
 22  stop_duration          48012 non-null  object
 23  out_of_state           47797 non-null  object
 24  drugs_related_stop     50000 non-null  bool
 25  district               50000 non-null  object
dtypes: bool(2), float64(5), object(19)
memory usage: 9.3+ MB

In [46]:
ri.tail()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
49995,RI-2006-35917,RI,2006-08-08,22:45,Zone K3,NaN,NaN,NaN,300,M,1973.0,33.0,B,Black,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
49996,RI-2006-35918,RI,2006-08-08,22:45,Zone K3,NaN,NaN,NaN,300,F,1971.0,35.0,B,Black,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
49997,RI-2006-35919,RI,2006-08-08,22:53,Zone X4,NaN,NaN,NaN,500,M,1952.0,54.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone X4
49998,RI-2006-35920,RI,2006-08-08,23:00,Zone K1,NaN,NaN,NaN,600,F,1982.0,24.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
49999,RI-2006-35921,RI,2006-08-08,23:00,Zone K3,NaN,NaN,NaN,300,M,1965.0,41.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone K3

In [47]:
ri.sample(5)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
32695,RI-2006-18617,RI,2006-04-23,14:00,Zone K2,NaN,NaN,NaN,900,M,1943.0,63.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
6940,RI-2005-06941,RI,2005-11-12,12:45,Zone K1,NaN,NaN,NaN,600,M,1956.0,49.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
41101,RI-2006-27023,RI,2006-06-13,09:15,Zone X1,NaN,NaN,NaN,000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
46137,RI-2006-32059,RI,2006-07-16,11:40,Zone K3,NaN,NaN,NaN,300,M,1979.0,27.0,H,Hispanic,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
12630,RI-2005-12631,RI,2005-12-20,10:40,Zone K1,NaN,NaN,NaN,600,F,1969.0,36.0,I,Asian,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K1

In [48]:
ri.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw', 'county_name',
       'county_fips', 'fine_grained_location', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district'],
      dtype='object')

In [49]:
ri.isnull().sum()

id                           0
state                        0
stop_date                    0
stop_time                    0
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            0
driver_gender             1990
driver_age_raw            1971
driver_age                2208
driver_race_raw           1988
driver_race               1988
violation_raw             1988
violation                 1988
search_conducted             0
search_type_raw          47988
search_type              47988
contraband_found             0
stop_outcome              1988
is_arrested               1988
stop_duration             1988
out_of_state              2203
drugs_related_stop           0
district                     0
dtype: int64

In [50]:
for col in ri.select_dtypes(include='O'):
    print(col)
    print('--'*10)
    print(ri[col].value_counts())
    print('**'*20)

id
--------------------
RI-2005-00001    1
RI-2006-19272    1
RI-2006-19250    1
RI-2006-19251    1
RI-2006-19252    1
                ..
RI-2006-02590    1
RI-2006-02591    1
RI-2006-02592    1
RI-2006-02593    1
RI-2006-35921    1
Name: id, Length: 50000, dtype: int64
****************************************
state
--------------------
RI    50000
Name: state, dtype: int64
****************************************
stop_date
--------------------
2006-05-21    302
2006-06-13    293
2005-11-05    290
2006-02-09    277
2006-03-22    276
             ...
2005-06-06      1
2005-06-04      1
2005-05-21      1
2005-05-11      1
2005-06-18      1
Name: stop_date, Length: 378, dtype: int64
****************************************
stop_time
--------------------
10:00    433
09:00    420
23:30    388
11:00    374
08:30    370
        ...
04:21      1
02:43      1
03:46      1
05:31      1
04:12      1
Name: stop_time, Length: 1376, dtype: int64
****************************************
location_raw
--------------------
Zone K3    14048
Zone X4    11249
Zone K2     9906
Zone K1     6921
Zone X3     5575
Zone X1     2301
Name: location_raw, dtype: int64
****************************************
police_department
--------------------
300    8934
500    7364
900    6508
300    5038
600    4568
500    3933
200    3621
900    2984
600    2400
200    1495
0      1232
000    1206
203     233
202      97
502      88
203      79
9        51
202      42
402      19
3        18
502      18
1        10
402      10
405       7
505       6
406       6
405       6
204       4
409       4
4         3
303       2
2         2
506       2
403       2
411       2
6         1
204       1
205       1
505       1
MA        1
409       1
Name: police_department, dtype: int64
****************************************
driver_gender
--------------------
M    34701
F    13309
Name: driver_gender, dtype: int64
****************************************
driver_race_raw
--------------------
W    39686
B     5794
I     1419
H      830
O      130
L      112
N       41
Name: driver_race_raw, dtype: int64
****************************************
driver_race
--------------------
White       39686
Black        5794
Asian        1419
Hispanic      942
Other         171
Name: driver_race, dtype: int64
****************************************
violation_raw
--------------------
Speeding                            36112
Other Traffic Violation              6522
Equipment/Inspection Violation       3022
Registration Violation               1463
Call for Service                      476
Motorist Assist/Courtesy              176
Violation of City/Town Ordinance       78
Special Detail/Directed Patrol         72
APB                                    51
Suspicious Person                      28
Warrant                                12
Name: violation_raw, dtype: int64
****************************************
violation
--------------------
Speeding               36112
Moving violation        6522
Equipment               3022
Registration/plates     1463
Other                    893
Name: violation, dtype: int64
****************************************
search_conducted
--------------------
False    47988
True      2012
Name: search_conducted, dtype: int64
****************************************
search_type_raw
--------------------
Incident to Arrest                                               958
Terry Frisk                                                      204
Probable Cause                                                   120
Inventory/Tow                                                    117
Incident to Arrest,Inventory/Tow                                 116
Odor of Drugs/Alcohol                                             68
Incident to Arrest,Terry Frisk                                    63
Reasonable Suspicion                                              43
Incident to Arrest,Inventory/Tow,Terry Frisk                      33
Plain View                                                        30
Inventory/Tow,Terry Frisk                                         23
Incident to Arrest,Probable Cause                                 20
Probable Cause,Terry Frisk                                        20
Incident to Arrest,Odor of Drugs/Alcohol,Probable Cause           20
Incident to Arrest,Odor of Drugs/Alcohol                          17
Odor of Drugs/Alcohol,Probable Cause                              16
Reasonable Suspicion,Terry Frisk                                  16
Incident to Arrest,Probable Cause,Terry Frisk                     13
Odor of Drugs/Alcohol,Terry Frisk                                 10
Incident to Arrest,Plain View                                      9
Incident to Arrest,Inventory/Tow,Odor of Drugs/Alcohol             8
Incident to Arrest,Inventory/Tow,Probable Cause                    8
Inventory/Tow,Probable Cause                                       7
Odor of Drugs/Alcohol,Reasonable Suspicion                         6
Incident to Arrest,Odor of Drugs/Alcohol,Terry Frisk               6
Incident to Arrest,Odor of Drugs/Alcohol,Plain View                5
Incident to Arrest,Reasonable Suspicion                            5
Odor of Drugs/Alcohol,Probable Cause,Terry Frisk                   5
Odor of Drugs/Alcohol,Plain View,Probable Cause                    5
Incident to Arrest,Plain View,Probable Cause                       5
Probable Cause,Reasonable Suspicion                                4
Inventory/Tow,Odor of Drugs/Alcohol                                3
Odor of Drugs/Alcohol,Plain View                                   3
Incident to Arrest,Inventory/Tow,Plain View                        3
Inventory/Tow,Odor of Drugs/Alcohol,Plain View                     3
Inventory/Tow,Plain View,Probable Cause                            2
Inventory/Tow,Probable Cause,Terry Frisk                           2
Odor of Drugs/Alcohol,Reasonable Suspicion,Terry Frisk             2
Probable Cause,Reasonable Suspicion,Terry Frisk                    2
Plain View,Probable Cause                                          2
Odor of Drugs/Alcohol,Plain View,Terry Frisk                       1
Odor of Drugs/Alcohol,Probable Cause,Reasonable Suspicion          1
Inventory/Tow,Odor of Drugs/Alcohol,Probable Cause                 1
Plain View,Reasonable Suspicion,Terry Frisk                        1
Odor of Drugs/Alcohol,Plain View,Reasonable Suspicion              1
Incident to Arrest,Plain View,Terry Frisk                          1
Inventory/Tow,Reasonable Suspicion                                 1
Incident to Arrest,Inventory/Tow,Reasonable Suspicion              1
Incident to Arrest,Odor of Drugs/Alcohol,Reasonable Suspicion      1
Incident to Arrest,Reasonable Suspicion,Terry Frisk                1
Name: search_type_raw, dtype: int64
****************************************
search_type
--------------------
Incident to Arrest                                          958
Probable Cause                                              244
Protective Frisk                                            204
Inventory                                                   117
Incident to Arrest,Inventory                                116
Incident to Arrest,Probable Cause                            76
Incident to Arrest,Protective Frisk                          63
Reasonable Suspicion                                         43
Probable Cause,Protective Frisk                              36
Incident to Arrest,Inventory,Protective Frisk                33
Inventory,Protective Frisk                                   23
Incident to Arrest,Probable Cause,Protective Frisk           20
Incident to Arrest,Inventory,Probable Cause                  19
Inventory,Probable Cause                                     16
Protective Frisk,Reasonable Suspicion                        16
Probable Cause,Reasonable Suspicion                          12
Probable Cause,Protective Frisk,Reasonable Suspicion          5
Incident to Arrest,Reasonable Suspicion                       5
Inventory,Probable Cause,Protective Frisk                     2
Inventory,Reasonable Suspicion                                1
Incident to Arrest,Inventory,Reasonable Suspicion             1
Incident to Arrest,Probable Cause,Reasonable Suspicion        1
Incident to Arrest,Protective Frisk,Reasonable Suspicion      1
Name: search_type, dtype: int64
****************************************
stop_outcome
--------------------
Citation            43788
Arrest Driver        2268
Warning               871
N/D                   663
Arrest Passenger      220
No Action             202
Name: stop_outcome, dtype: int64
****************************************
is_arrested
--------------------
False    45524
True      2488
Name: is_arrested, dtype: int64
****************************************
stop_duration
--------------------
0-15 Min     40663
16-30 Min     5672
30+ Min       1677
Name: stop_duration, dtype: int64
****************************************
out_of_state
--------------------
False    31358
True     16439
Name: out_of_state, dtype: int64
****************************************
district
--------------------
Zone K3    14048
Zone X4    11249
Zone K2     9906
Zone K1     6921
Zone X3     5575
Zone X1     2301
Name: district, dtype: int64
****************************************

In [51]:
for col in ri.select_dtypes(include='O'):
    print(col)
    print('--'*10)
    print(ri[col].unique())
    print('**'*20)

id
--------------------
['RI-2005-00001' 'RI-2005-00002' 'RI-2005-00003' ... 'RI-2006-35919'
 'RI-2006-35920' 'RI-2006-35921']
****************************************
state
--------------------
['RI']
****************************************
stop_date
--------------------
['2005-01-02' '2005-01-04' '2005-01-06' '2005-01-12' '2005-01-18'
 '2005-01-23' '2005-01-24' '2005-02-09' '2005-02-11' '2005-02-17'
 '2005-02-20' '2005-02-24' '2005-03-05' '2005-03-14' '2005-03-16'
 '2005-03-19' '2005-03-23' '2005-03-29' '2005-03-30' '2005-04-01'
 '2005-04-04' '2005-04-24' '2005-05-11' '2005-05-21' '2005-06-04'
 '2005-06-06' '2005-06-08' '2005-06-18' '2005-07-06' '2005-07-11'
 '2005-07-13' '2005-07-14' '2005-07-18' '2005-07-19' '2005-07-20'
 '2005-07-24' '2005-07-28' '2005-07-31' '2005-08-07' '2005-08-08'
 '2005-08-09' '2005-08-17' '2005-08-18' '2005-08-24' '2005-08-27'
 '2005-08-28' '2005-08-29' '2005-09-01' '2005-09-03' '2005-09-07'
 '2005-09-11' '2005-09-15' '2005-09-16' '2005-09-17' '2005-09-18'
 '2005-09-20' '2005-09-21' '2005-09-22' '2005-09-23' '2005-09-24'
 '2005-09-25' '2005-09-26' '2005-09-27' '2005-09-28' '2005-09-29'
 '2005-09-30' '2005-10-01' '2005-10-02' '2005-10-03' '2005-10-04'
 '2005-10-05' '2005-10-06' '2005-10-07' '2005-10-08' '2005-10-09'
 '2005-10-10' '2005-10-11' '2005-10-12' '2005-10-13' '2005-10-14'
 '2005-10-15' '2005-10-16' '2005-10-17' '2005-10-18' '2005-10-19'
 '2005-10-20' '2005-10-21' '2005-10-22' '2005-10-23' '2005-10-24'
 '2005-10-25' '2005-10-26' '2005-10-27' '2005-10-28' '2005-10-29'
 '2005-10-30' '2005-10-31' '2005-11-01' '2005-11-02' '2005-11-03'
 '2005-11-04' '2005-11-05' '2005-11-06' '2005-11-07' '2005-11-08'
 '2005-11-09' '2005-11-10' '2005-11-11' '2005-11-12' '2005-11-13'
 '2005-11-14' '2005-11-15' '2005-11-16' '2005-11-17' '2005-11-18'
 '2005-11-19' '2005-11-20' '2005-11-21' '2005-11-22' '2005-11-23'
 '2005-11-24' '2005-11-25' '2005-11-26' '2005-11-27' '2005-11-28'
 '2005-11-29' '2005-11-30' '2005-12-01' '2005-12-02' '2005-12-03'
 '2005-12-04' '2005-12-05' '2005-12-06' '2005-12-07' '2005-12-08'
 '2005-12-09' '2005-12-10' '2005-12-11' '2005-12-12' '2005-12-13'
 '2005-12-14' '2005-12-15' '2005-12-16' '2005-12-17' '2005-12-18'
 '2005-12-19' '2005-12-20' '2005-12-21' '2005-12-22' '2005-12-23'
 '2005-12-24' '2005-12-25' '2005-12-26' '2005-12-27' '2005-12-28'
 '2005-12-29' '2005-12-30' '2005-12-31' '2006-01-01' '2006-01-02'
 '2006-01-03' '2006-01-04' '2006-01-05' '2006-01-06' '2006-01-07'
 '2006-01-08' '2006-01-09' '2006-01-10' '2006-01-11' '2006-01-12'
 '2006-01-13' '2006-01-14' '2006-01-15' '2006-01-16' '2006-01-17'
 '2006-01-18' '2006-01-19' '2006-01-20' '2006-01-21' '2006-01-22'
 '2006-01-23' '2006-01-24' '2006-01-25' '2006-01-26' '2006-01-27'
 '2006-01-28' '2006-01-29' '2006-01-30' '2006-01-31' '2006-02-01'
 '2006-02-02' '2006-02-03' '2006-02-04' '2006-02-05' '2006-02-06'
 '2006-02-07' '2006-02-08' '2006-02-09' '2006-02-10' '2006-02-11'
 '2006-02-12' '2006-02-13' '2006-02-14' '2006-02-15' '2006-02-16'
 '2006-02-17' '2006-02-18' '2006-02-19' '2006-02-20' '2006-02-21'
 '2006-02-22' '2006-02-23' '2006-02-24' '2006-02-25' '2006-02-26'
 '2006-02-27' '2006-02-28' '2006-03-01' '2006-03-02' '2006-03-03'
 '2006-03-04' '2006-03-05' '2006-03-06' '2006-03-07' '2006-03-08'
 '2006-03-09' '2006-03-10' '2006-03-11' '2006-03-12' '2006-03-13'
 '2006-03-14' '2006-03-15' '2006-03-16' '2006-03-17' '2006-03-18'
 '2006-03-19' '2006-03-20' '2006-03-21' '2006-03-22' '2006-03-23'
 '2006-03-24' '2006-03-25' '2006-03-26' '2006-03-27' '2006-03-28'
 '2006-03-29' '2006-03-30' '2006-03-31' '2006-04-01' '2006-04-02'
 '2006-04-03' '2006-04-04' '2006-04-05' '2006-04-06' '2006-04-07'
 '2006-04-08' '2006-04-09' '2006-04-10' '2006-04-11' '2006-04-12'
 '2006-04-13' '2006-04-14' '2006-04-15' '2006-04-16' '2006-04-17'
 '2006-04-18' '2006-04-19' '2006-04-20' '2006-04-21' '2006-04-22'
 '2006-04-23' '2006-04-24' '2006-04-25' '2006-04-26' '2006-04-27'
 '2006-04-28' '2006-04-29' '2006-04-30' '2006-05-01' '2006-05-02'
 '2006-05-03' '2006-05-04' '2006-05-05' '2006-05-06' '2006-05-07'
 '2006-05-08' '2006-05-09' '2006-05-10' '2006-05-11' '2006-05-12'
 '2006-05-13' '2006-05-14' '2006-05-15' '2006-05-16' '2006-05-17'
 '2006-05-18' '2006-05-19' '2006-05-20' '2006-05-21' '2006-05-22'
 '2006-05-23' '2006-05-24' '2006-05-25' '2006-05-26' '2006-05-27'
 '2006-05-28' '2006-05-29' '2006-05-30' '2006-05-31' '2006-06-01'
 '2006-06-02' '2006-06-03' '2006-06-04' '2006-06-05' '2006-06-06'
 '2006-06-07' '2006-06-08' '2006-06-09' '2006-06-10' '2006-06-11'
 '2006-06-12' '2006-06-13' '2006-06-14' '2006-06-15' '2006-06-16'
 '2006-06-17' '2006-06-18' '2006-06-19' '2006-06-20' '2006-06-21'
 '2006-06-22' '2006-06-23' '2006-06-24' '2006-06-25' '2006-06-26'
 '2006-06-27' '2006-06-28' '2006-06-29' '2006-06-30' '2006-07-01'
 '2006-07-02' '2006-07-03' '2006-07-04' '2006-07-05' '2006-07-06'
 '2006-07-07' '2006-07-08' '2006-07-09' '2006-07-10' '2006-07-11'
 '2006-07-12' '2006-07-13' '2006-07-14' '2006-07-15' '2006-07-16'
 '2006-07-17' '2006-07-18' '2006-07-19' '2006-07-20' '2006-07-21'
 '2006-07-22' '2006-07-23' '2006-07-24' '2006-07-25' '2006-07-26'
 '2006-07-27' '2006-07-28' '2006-07-29' '2006-07-30' '2006-07-31'
 '2006-08-01' '2006-08-02' '2006-08-03' '2006-08-04' '2006-08-05'
 '2006-08-06' '2006-08-07' '2006-08-08']
****************************************
stop_time
--------------------
['01:55' '20:30' '11:30' ... '05:54' '02:14' '04:12']
****************************************
location_raw
--------------------
['Zone K1' 'Zone X4' 'Zone X1' 'Zone K3' 'Zone X3' 'Zone K2']
****************************************
police_department
--------------------
[600 500 0 300 200 900 3 2 202 1 6 505 4 502 203 9 409 204 402 205 405 506
 '500' '203' '000' '600' '200' '900' '300' '402' '405' '403' '411' '202'
 '204' '303' '502' '406' 'MA' '409' '505']
****************************************
driver_gender
--------------------
['M' nan 'F']
****************************************
driver_race_raw
--------------------
['W' nan 'B' 'H' 'I' 'O' 'L' 'N']
****************************************
driver_race
--------------------
['White' nan 'Black' 'Hispanic' 'Asian' 'Other']
****************************************
violation_raw
--------------------
['Speeding' nan 'Equipment/Inspection Violation' 'Call for Service'
 'Other Traffic Violation' 'Registration Violation'
 'Violation of City/Town Ordinance' 'Special Detail/Directed Patrol' 'APB'
 'Motorist Assist/Courtesy' 'Suspicious Person' 'Warrant']
****************************************
violation
--------------------
['Speeding' nan 'Equipment' 'Other' 'Moving violation'
 'Registration/plates']
****************************************
search_conducted
--------------------
[False True]
****************************************
search_type_raw
--------------------
[nan 'Probable Cause' 'Probable Cause,Terry Frisk'
 'Incident to Arrest,Terry Frisk' 'Incident to Arrest'
 'Odor of Drugs/Alcohol,Probable Cause' 'Reasonable Suspicion,Terry Frisk'
 'Odor of Drugs/Alcohol'
 'Odor of Drugs/Alcohol,Plain View,Reasonable Suspicion'
 'Incident to Arrest,Plain View'
 'Incident to Arrest,Inventory/Tow,Plain View' 'Inventory/Tow'
 'Incident to Arrest,Inventory/Tow' 'Terry Frisk'
 'Inventory/Tow,Probable Cause'
 'Incident to Arrest,Odor of Drugs/Alcohol,Plain View'
 'Reasonable Suspicion' 'Plain View,Probable Cause'
 'Incident to Arrest,Odor of Drugs/Alcohol,Probable Cause'
 'Incident to Arrest,Inventory/Tow,Odor of Drugs/Alcohol'
 'Probable Cause,Reasonable Suspicion,Terry Frisk'
 'Inventory/Tow,Terry Frisk'
 'Incident to Arrest,Inventory/Tow,Terry Frisk' 'Plain View'
 'Odor of Drugs/Alcohol,Terry Frisk' 'Odor of Drugs/Alcohol,Plain View'
 'Odor of Drugs/Alcohol,Reasonable Suspicion,Terry Frisk'
 'Incident to Arrest,Odor of Drugs/Alcohol'
 'Incident to Arrest,Reasonable Suspicion'
 'Incident to Arrest,Probable Cause,Terry Frisk'
 'Inventory/Tow,Odor of Drugs/Alcohol,Plain View'
 'Incident to Arrest,Probable Cause'
 'Odor of Drugs/Alcohol,Probable Cause,Terry Frisk'
 'Odor of Drugs/Alcohol,Reasonable Suspicion'
 'Odor of Drugs/Alcohol,Probable Cause,Reasonable Suspicion'
 'Odor of Drugs/Alcohol,Plain View,Probable Cause'
 'Incident to Arrest,Odor of Drugs/Alcohol,Terry Frisk'
 'Incident to Arrest,Plain View,Probable Cause'
 'Inventory/Tow,Odor of Drugs/Alcohol'
 'Odor of Drugs/Alcohol,Plain View,Terry Frisk'
 'Inventory/Tow,Probable Cause,Terry Frisk'
 'Incident to Arrest,Inventory/Tow,Probable Cause'
 'Probable Cause,Reasonable Suspicion'
 'Inventory/Tow,Odor of Drugs/Alcohol,Probable Cause'
 'Plain View,Reasonable Suspicion,Terry Frisk'
 'Inventory/Tow,Plain View,Probable Cause'
 'Incident to Arrest,Plain View,Terry Frisk'
 'Inventory/Tow,Reasonable Suspicion'
 'Incident to Arrest,Inventory/Tow,Reasonable Suspicion'
 'Incident to Arrest,Odor of Drugs/Alcohol,Reasonable Suspicion'
 'Incident to Arrest,Reasonable Suspicion,Terry Frisk']
****************************************
search_type
--------------------
[nan 'Probable Cause' 'Probable Cause,Protective Frisk'
 'Incident to Arrest,Protective Frisk' 'Incident to Arrest'
 'Protective Frisk,Reasonable Suspicion'
 'Probable Cause,Reasonable Suspicion' 'Incident to Arrest,Probable Cause'
 'Incident to Arrest,Inventory,Probable Cause' 'Inventory'
 'Incident to Arrest,Inventory' 'Protective Frisk'
 'Inventory,Probable Cause' 'Reasonable Suspicion'
 'Probable Cause,Protective Frisk,Reasonable Suspicion'
 'Inventory,Protective Frisk'
 'Incident to Arrest,Inventory,Protective Frisk'
 'Incident to Arrest,Reasonable Suspicion'
 'Incident to Arrest,Probable Cause,Protective Frisk'
 'Inventory,Probable Cause,Protective Frisk'
 'Inventory,Reasonable Suspicion'
 'Incident to Arrest,Inventory,Reasonable Suspicion'
 'Incident to Arrest,Probable Cause,Reasonable Suspicion'
 'Incident to Arrest,Protective Frisk,Reasonable Suspicion']
****************************************
stop_outcome
--------------------
['Citation' nan 'Arrest Driver' 'N/D' 'Warning' 'Arrest Passenger'
 'No Action']
****************************************
is_arrested
--------------------
[False nan True]
****************************************
stop_duration
--------------------
['0-15 Min' '16-30 Min' nan '30+ Min']
****************************************
out_of_state
--------------------
[False nan True]
****************************************
district
--------------------
['Zone K1' 'Zone X4' 'Zone X1' 'Zone K3' 'Zone X3' 'Zone K2']
****************************************

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

**INSTRUCTIONS**

*   Examine the ``DataFrame``'s shape to find out the number of rows and columns.

*   Drop the columns that almost consist of missing values. 

*   Examine the ``.shape`` again to verify that there are now two fewer columns.

In [52]:
ri.shape

(50000, 26)

In [53]:
ri.drop(columns=['county_name', 'state', 'county_fips' , 'fine_grained_location', 'search_type_raw','search_type'], inplace=True)
ri.shape

(50000, 20)

***

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the ``driver_gender`` column will be critical to many of your analyses. Because only a small fraction of rows are missing ``driver_gender``, we'll drop those rows from the dataset.

**INSTRUCTIONS**

*   Count the number of missing values in each column.

*   Drop all rows that are missing ``driver_gender`` by passing the column name to the subset parameter of ``.dropna()``.
*   Count the number of missing values in each column again, to verify that none of the remaining rows are missing ``driver_gender``.
*   Examine the ``DataFrame``'s ``.shape`` to see how many rows and columns remain.

In [54]:
ri.isnull().sum()

id                       0
stop_date                0
stop_time                0
location_raw             0
police_department        0
driver_gender         1990
driver_age_raw        1971
driver_age            2208
driver_race_raw       1988
driver_race           1988
violation_raw         1988
violation             1988
search_conducted         0
contraband_found         0
stop_outcome          1988
is_arrested           1988
stop_duration         1988
out_of_state          2203
drugs_related_stop       0
district                 0
dtype: int64

In [55]:
ri.dropna(subset=['driver_gender'], inplace=True)

In [56]:
ri.shape

(48010, 20)

In [57]:
ri.isnull().sum()

id                      0
stop_date               0
stop_time               0
location_raw            0
police_department       0
driver_gender           0
driver_age_raw          0
driver_age            232
driver_race_raw         0
driver_race             0
violation_raw           0
violation               0
search_conducted        0
contraband_found        0
stop_outcome            0
is_arrested             0
stop_duration           0
out_of_state          215
drugs_related_stop      0
district                0
dtype: int64

***

## Fixing a data type

We know that the ``is_arrested`` column currently has the ``object`` data type. In this exercise, we'll change the data type to ``bool``, which is the most suitable type for a column containing ``True`` and ``False`` values.

Fixing the data type will enable us to use mathematical operations on the ``is_arrested`` column that would not be possible otherwise.

**INSTRUCTIONS**

*   Examine the values of the ``is_arrested`` column to verify that it contains ``True`` and ``False`` values.
*   Check the current data type of ``is_arrested``.
*   Use the ``.astype()`` method to convert ``is_arrested`` to a ``bool`` column.
*   Check the new data type of ``is_arrested``, to confirm that it is now a ``bool`` column.

In [58]:
ri.is_arrested.value_counts()

False    45522
True      2488
Name: is_arrested, dtype: int64

In [59]:
ri.is_arrested.dtype

dtype('O')

In [66]:
ri = ri.astype({'is_arrested' : bool})

In [68]:
ri.is_arrested.dtype

dtype('bool')

***

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: ``stop_date`` and ``stop_time``.

You'll combine these two columns into a single column, and then convert it to ``datetime`` format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

*    Get the first row of the data frame and see the dtypes of ``stop_date`` and ``stop_time`` columns.
*    Use a string method to concatenate ``stop_date`` and ``stop_time`` (separated by a space), and store the result in ``combined``.
*    Convert ``combined`` to ``datetime`` format, and store the result in a new column named ``stop_datetime``.
*    Drop ``stop_date`` and ``stop_time`` columns from dataframe and check after dropping by getting first row.
*    Examine the ``DataFrame`` ``.dtypes`` to confirm that ``stop_datetime`` is a datetime column.

***

The last step that you'll take in this chapter is to set the ``stop_datetime`` column as the ``DataFrame``'s index. By replacing the default index with a ``DatetimeIndex``, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

**INSTRUCTIONS**

*   First check out the shape of the dataframe.
*   Set ``stop_datetime`` as the ``DataFrame`` index.
*   Examine the index to verify that it is a ``DatetimeIndex``.
*   Check again the shape of the dataframe to confirm that ``stop_datetime`` is no longer one of the columns. 
*   Examine the ``DataFrame`` columns to confirm that ``stop_datetime`` is no longer one of the columns.

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

**- Please save the edits made so far to a new csv file with the name RI_Part_1 to use it in the next step.**

**- Load and read new csv file.**

**- Check the first five rows.***

**- Check the shape of the dataframe.**